CompileFlags:
    Remove:
        - -forward-unknown-to-host-compiler
        - --options-file
        - -arch=native
        - -G
        - -rdc=true
---
If:
    PathMatch: [.*\.cpp, .*\.h, .*\.hpp]

CompileFlags:
    Add:
        - -xc++
        - -I/usr/local/cuda-13.0/targets/x86_64-linux/include
---
If:
    PathMatch: .*\.cu

CompileFlags:
    Add:
        - -xcuda
        - -O3
        - -use_fast_math
